﻿@model Blog_5_2_25_11_2014.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Post</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Body)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Body)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateCreated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateCreated)
    </div>
</fieldset>


@Html.Partial("_addComment", new Blog_5_2_25_11_2014.Models.Comment(), ViewData)


<fieldset>
    <legend>List(Comments)</legend>
   <div id="result">
    @foreach (var comment in Model.Comments.OrderByDescending(x => x.DataCreated).Take(10)) 
    { 
        <div class="display-field">
            <h2> Ngày Tạo: @Html.DisplayFor(x => comment.DataCreated) </h2>
        </div>
       
        <div class="display-field">
            @Html.DisplayFor(x => comment.Body)
        </div>
        
        <div class="display-field">
            Cách Đây: @Html.DisplayFor(x => comment.LastTimeDay) Ngày @Html.DisplayFor(x => comment.LastTimeHour) Giờ @Html.DisplayFor(x => comment.LastTime) phút
        </div>
      }
      </div>
</fieldset>

    <div class="display-label">
         <h2>Nguoi Tao: </h2>@Html.DisplayNameFor(model => model.UserProFile.UserName): @Html.DisplayFor(model => model.UserProFile.UserName)
    </div>


<fieldset> 
       <legend>Tags </legend>
        <h2>Tags:</h2>
          @foreach (var Tag in Model.Tags.Take(10))
          {
             string nameTag = Tag.content;
              <p>
                 @Html.ActionLink(nameTag, "Details/"+Tag.TagID,"Tag") >> 
            </p>
          }
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
