﻿@model Blog_t3_4_4_11_2014_MiddleWare.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Post</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Body)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Body)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateCreated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateCreated)
    </div>
</fieldset>

@Html.Partial("_addComment", new Blog_t3_4_4_11_2014_MiddleWare.Models.Comment(), ViewData);


<fieldset>
    <legend>Post</legend>
    @foreach (var comment in Model.Comments.OrderByDescending(x => x.DataCreated).Take(5)) 
    { 
        <div class="display-field">
            <h2> Ngày Tạo: @Html.DisplayFor(x => comment.DataCreated) </h2>
        </div>
       
        <div class="display-field">
            @Html.DisplayFor(x => comment.Body)
        </div>
        
        <div class="display-field">
             Cách đây @Html.DisplayFor(x => comment.LastTime) Phút
        </div>
    }
</fieldset>

<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
