﻿@model Blog_t4_11_11_2014.Models.Tag

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Tag</legend>
    <div class="display-field">
        @Html.DisplayFor(model => model.content)
    </div>
</fieldset>


<fieldset>
    <legend>List(Posts)</legend>
    <table>
     @foreach (var post in Model.Posts.OrderByDescending(x => x.DateCreated)) 
     {
    <tr>
        <th>
            @Html.DisplayNameFor(model => post.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => post.Body)
        </th>
        <th>
            @Html.DisplayNameFor(model => post.DateCreated)
        </th>
        <th></th>
    </tr>
     
    <tr>
        <td>
            @Html.DisplayFor(modelItem => post.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => post.Body)
        </td>
        <td>
            @Html.DisplayFor(modelItem => post.DateCreated)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit/"+post.ID,"Post") |
            @Html.ActionLink("Details", "Details/"+post.ID, "Post") |
            @Html.ActionLink("Delete", "Delete/"+post.ID, "Post")
        </td>
    </tr>
    }
    </table>
</fieldset>


<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.TagID }) |
    @Html.ActionLink("Back to List", "Index")
</p>